/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Nav Bar Layout                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.nav-bar{
  display: flex; flex-direction: row;
  align-items: center; justify-content: space-between;
  position: sticky;
  
  height: 4em; top: 0;
  padding-left: 20px; padding-right: 20px;
  z-index: 10; flex-shrink: 0;
}

.nav-bar > * {
  width: 33%; padding: 0;
  display: flex; flex-direction: row;
  align-items: center; text-align: center;
}

#left-nav{ justify-content: flex-start; }
#mid-nav{ justify-content: space-evenly; font-family: 'Palatino'; font-size: 1.4em; }
#right-nav{ justify-content: flex-end; }

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Nav colors                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.dark-nav{
  background-color: #0e151a;
  color: skyblue;
  border-bottom: 0.1em solid skyblue;
  border-bottom: 0.1em solid white;
}

.light-nav{
  background-color: skyblue;
  color: #0e151a;
  border-bottom: 0.1em solid #0e151a;
}

.dark-navlink{ color: skyblue; }
.light-navlink{ color: #0e151a; }

.dark-navlink:hover{ border-bottom: 0.07em solid wheat; }
.light-navlink:hover{ border-bottom: 0.07em solid black; }


/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Dropdown                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.dropdown-background{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  display: flex;
  flex-direction: row-reverse;

  background: none;
}

.dropdown-content{
  display: flex;
  flex-direction: column;

  position: absolute;

  top: 3.5em;
  right: 0.5em;
  z-index: 12;
  
  width: 10em;
  /* height: 10em; */

  box-shadow: 0 0 8px gray;
  border-radius: 0.8em;

  overflow: hidden;
}

.dropdown-content > *{ padding: 1em; }

.dark-dropdownlink{ background-color: #0e151a; color: wheat; }
.light-dropdownlink{ background-color: wheat; }

.dark-dropdownlink:hover{ background-color: #19252e; }
.light-dropdownlink:hover{ background-color: #e6d0a8; }

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Nav Media                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
@media (max-width: 1000px){
  .nav-bar > * { width: 50%; }
  #mid-nav{ display: none; }
}