/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Nav Bar Layout                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.nav-bar{
  height: 4em;
  
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;

  flex-shrink: 0;
}

.nav-bar > * {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  text-align: center;
}

#left-nav{ justify-content: flex-start; }
#mid-nav{
  justify-content: space-evenly; 
  font-size: 1.2em;
  /* font-weight: bold; */
}
#right-nav{ justify-content: flex-end; }


/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Nav colors                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.dark-nav{
  background-color: #0e151a;
  color: skyblue;
}

.light-nav{
  background-color: skyblue;
  color: #0e151a;
}

.dark-selected-site{ border-bottom: 0.07em solid lime; }
.light-selected-site{ border-bottom: 0.07em solid black; }