/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Projects                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.project-card{
  display: flex; flex-direction: row;
  border: 0.05em solid gray; border-radius: 0.5em;
  margin: 1em; margin-top: 0;
  padding: 1em;
}

/* .dark-project-card:hover{ background: #36373e; } */
.dark-project-card:hover{ background: #313340; }
.light-project-card{ background: #f9f9f9; }

.external-link{ cursor: pointer; }

/* .dark-project-card h2 { color: #0099ff; }
.light-project-card h2 { color: #0099ff; }
.dark-project-card .external-link{ color: #0099ff; }
.light-project-card .external-link{ color: #0099ff; } */

.project-image{
  border: 0.05em solid gray; border-radius: 0.5em;
  min-width: 16em; min-height: 10em;
}

.project-links{ display: flex; flex-direction: row; align-items: center; }
.project-links > *{ margin-left: 1em; margin-right: 1em; color: #0099ff; }
.project-links > h2{ color: #0099ff; }

.project-description{ 
  text-align: left; 
  margin-left: 1em; padding-top: 0.5em; 
  border-top: 0.05em solid gray; 
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Media                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
@media (max-width: 1000px){
  .project-card{ flex-direction: column; align-items: center; }
}

@media (max-width: 600px){
  .project-links{ flex-direction: column; }
  .project-links > strong{ margin-bottom: 1em; }
}