/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Projects                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.project-card{
  display: flex; flex-direction: row;
  border: 0.05em solid gray; border-radius: 0.5em;
  margin: 1em; margin-top: 0;
  padding: 1em;
}

.dark-project-card:hover{ background: rgb(54, 55, 62); }
.light-project-card:hover{ background: #ffd483; }

.external-link{ cursor: pointer; }

.light-project-card h2 { color: #0099ff; }
.dark-project-card h2:hover { color: white; }
.light-project-card h2:hover { color: #0099ff; }

.dark-project-card .external-link:hover{ color: white; }
.light-project-card .external-link:hover{ color: #0099ff; }

.project-image{
  border: 0.05em solid gray; border-radius: 0.5em;
  min-width: 16em; min-height: 10em;
}

.project-links{ display: flex; flex-direction: row; align-items: center; }
.project-links > *{ margin-left: 1em; margin-right: 1em; }

.project-description{ 
  text-align: left; 
  margin-left: 1em; padding-top: 0.5em; 
  border-top: 0.05em solid gray; 
}