/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Index                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.site-page{
  flex-grow: 1;
  border-right: 0.1em solid white;
  min-height: 5em;
}

.light-site-page{
  border-left: 0.1em solid black;
}


/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Projects                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.project-card{
  border: 0.05em solid gray;
  margin: 1em;
  margin-top: 0;

  border-radius: 0.5em;
  padding: 1em;
}


.dark-project-card:hover{ background: rgb(54, 55, 62); }
.light-project-card:hover{ background: wheat; }

.external-link{ cursor: pointer; }
.dark-project-card h2:hover { color: white; }
.light-project-card h2:hover { color: gray; }

.dark-project-card .external-link:hover{ color: white; border-bottom: 0.05em solid white; }
.light-project-card .external-link:hover{ color: gray; border-bottom: 0.05em solid black; }



.project-image{
  border: 0.05em solid gray;
  border-radius: 0.5em;
  min-width: 16em;
  min-height: 10em;
}

.project-links{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-links > *{
  margin-left: 1em;
  margin-right: 1em;
}

.project-description{ 
  text-align: left; 
  margin-left: 1em; 
  padding-top: 0.5em;
  border-top: 0.05em solid gray 
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Experiences                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.experience-card{
  padding: 1em;
  border: solid 0.04em red;
  width: 100%;
}

.experience-card > *{
  border: solid 0.04em lime;
}

/* .experience-card:hover{
  background: rgb(54, 55, 62);
} */

.experience-image{
  border: 0.05em solid gold;
  width: 16em;
  height: 10em;
}

.experience-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05em solid red;
}
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Education                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* .education-card{
  padding: 1em;
} */

.education-card > *{
  width: 50%;
}
/* .education-card:hover{
  background: rgb(54, 55, 62);
} */

.education-image{
  border: 0.05em solid gold;
  min-width: 16em;
  min-height: 10em;
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Skills                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.resume-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: 1.5em;

  overflow: hidden;
}

.dark-resume-container{ border: 0.05em solid wheat; }
.light-resume-container{ border: 0.05em solid black; }

/* .resume-container > * {
  padding: 1em;
  border: solid 0.04em red;
  width: 100%;
} */

.skill-card{
  padding: 0;
  height: 6em;
  width: 6em;
  margin: 0.5em;
  border-radius: 4em;
  border-radius: 1em;
}

.dark-skill-card{ background: rgba(211, 229, 255, 0.18); border: 0.1em solid white; }
.dark-skill-card:hover{ background: rgba(211, 229, 255, 0.533); }

.light-skill-card{ border: 0.1em solid black; }
/* .light-skill-card:hover{ background: rgb(211, 229, 255); } */
.light-skill-card:hover{ background: wheat; }

.skill-card > img{
  margin-top: 1em;
}