/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Index                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.site-page{
  flex-grow: 1;
  border-right: 0.1em solid white;
  min-height: 5em;
}

.light-site-page{
  border-left: 0.1em solid black;
}


/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Projects                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.project-card{
  border: 0.05em solid red;
  /* justify-content: space-between;
  justify-content: space-evenly;
  font-weight: bold; */
  padding: 1em;
}
/* .project-card:hover{
  background: rgb(54, 55, 62);
} */

.external-link{ cursor: pointer; }

.external-link:hover{ border-bottom: 0.05em solid white; }

.project-image{
  border: 0.05em solid gold;
  min-width: 16em;
  min-height: 10em;
}

.project-links{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-links > *{
  margin-left: 1em;
  margin-right: 1em;
}

.project-description{ border: 0.05em solid gold; }

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Experiences                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* .experience-card{
} */

.experience-card > *{
  width: 50%;
}
/* .experience-card:hover{
  background: rgb(54, 55, 62);
} */

.experience-image{
  border: 0.05em solid gold;
  min-width: 16em;
  min-height: 10em;
}
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Education                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* .education-card{
  padding: 1em;
} */

.education-card > *{
  width: 50%;
}
/* .education-card:hover{
  background: rgb(54, 55, 62);
} */

.education-image{
  border: 0.05em solid gold;
  min-width: 16em;
  min-height: 10em;
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Skills                  */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.resume-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: 1.5em;

  overflow: hidden;
}

.dark-resume-container{ border: 0.05em solid wheat; }
.light-resume-container{ border: 0.05em solid black; }

.resume-container > * {
  padding: 1em;
  width: 100%;
  border: solid 0.04em red;
}

.skill-card{
  padding: 0;
  height: 6em;
  width: 6em;
  margin: 0.5em;
  border-radius: 4em;
  border-radius: 1em;
}

.dark-skill-card{ background: rgba(211, 229, 255, 0.18); border: 0.1em solid white; }
.dark-skill-card:hover{ background: rgba(211, 229, 255, 0.533); }

.light-skill-card{ border: 0.1em solid black; }
/* .light-skill-card:hover{ background: rgb(211, 229, 255); } */
.light-skill-card:hover{ background: wheat; }

.skill-card > img{
  margin-top: 1em;
}