.dark-footer{
  /* background-color: #0e151a; */
  color: skyblue;
  border-top: 0.05em solid skyblue;
}

.light-footer{
  /* background-color: skyblue; */
  color: #0e151a;
  border-top: 0.05em solid #0e151a;
}

.footer{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  
  justify-content: space-evenly;
  
  justify-content: flex-start;
  
  height: 80px;
  width: 100%;
  text-decoration: none;
  z-index: 97;
  
  flex-shrink: 0;
}

.footer-links{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-links > *{
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}
.footer-links > a:hover, .footer-links > img:hover{ opacity: 75%; }